:root {
  --badger-red: #C5050C;
  --badger-red-hover: #9B0309;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--badger-red);
}

a:hover {
  color: var(--badger-red-hover);
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-item {
  color: #212529;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover,
.navbar .dropdown-item:hover {
  color: var(--badger-red);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
